<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.example.parkseeun.moca_android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            tools:node="replace"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.community.review_comment.ReviewCommentActivity">
        </activity>
        <activity android:name=".ui.plus.plusDetail.PlusDetailActivity"/>
        <activity android:name=".ui.community.feed.FeedActivity"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDY9Zw1kSMIV0wcHxM9JSI7ZnW5QqO4TWA" />

        <activity android:name=".ui.community.review_write.WriteReviewActivity">
        </activity>
        <activity android:name=".ui.location.HashKeyActivity">
        </activity>
        <activity android:name=".ui.community.follow.FollowActivity">
        </activity>
        <activity android:name=".ui.plus.PlusActivity"/>
        <activity android:name=".ui.community.review_write.ReviewSearchLocationActivity">
        </activity>
        <activity
                android:name=".ui.main.HomeActivity2"
                android:label="@string/title_activity_home2"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.location.LocationMainActivity">
        </activity>
        <activity android:name=".ui.location.LocationSearchActivity">
        </activity>

        <activity android:name=".ui.SearchActivity">

        </activity>
        <activity android:name=".ui.main.ScrapCafeActivity">
        </activity>
        <activity android:name=".ui.main.coupon.CouponActivity">
        </activity>

    </application>

</manifest>