<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.parkseeun.moca_android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".network.ApplicationController"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:node="replace">
        <activity android:name=".ui.community.review_comment.ReviewCommentActivity"/>
        <activity android:name=".ui.plus.plusDetail.PlusDetailActivity"/>
        <activity android:name=".ui.community.feed.FeedActivity"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDY9Zw1kSMIV0wcHxM9JSI7ZnW5QqO4TWA"/>

        <activity android:name=".ui.community.review_write.WriteReviewActivity">
        </activity>
        <activity android:name=".ui.community.follow.FollowActivity"/>
        <activity android:name=".ui.community.review_write.ReviewSearchLocationActivity"/>
        <activity android:name=".ui.main.HomeActivity2">
        </activity>
        <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="cb620091669ce5936f0fd4dd2766a760"/>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDY9Zw1kSMIV0wcHxM9JSI7ZnW5QqO4TWA"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity android:name=".ui.plus.PlusActivity"/>
        <activity android:name=".ui.community.feed.image.ImageActivity"/>
        <activity android:name=".ui.community.review_detail.ReviewDetailActivity"/>
        <activity android:name=".ui.ranking.RankingActivity"/>
        <activity android:name=".ui.category.CategoryActivity"/>
        <activity android:name=".ui.location.LocationMainActivity">
        </activity>
        <activity android:name=".ui.mocapicks.MocaPicksListActivity"/>
        <activity android:name=".ui.location.LocationSearchActivity"/>
        <activity android:name=".ui.main.SearchActivity"></activity>
        <activity android:name=".ui.main.ScrapCafeActivity"/>
        <activity android:name=".ui.main.coupon.CouponActivity"/>
        <activity android:name=".ui.main.notice.NoticeActivity"/>
        <activity
                android:name=".ui.main.EditProfileActivity"
                android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".ui.mocapicks.MocaPicksDetailActivity"/>
        <activity android:name=".ui.mocapicks.MocaPicksBaristaActivity"/>
        <activity android:name=".ui.loginJoin.JoinActivity"/>
        <activity android:name=".ui.loginJoin.LoginActivity">
        </activity>
        <activity android:name=".ui.category.CafeListActivity"/>
        <activity android:name=".ui.communitySearch.CommunitySearchActivity"></activity>
        <activity android:name=".ui.detail.DetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.community.feed.other_user.OtherUserActivity"/>
        <activity android:name=".ui.main.HotPlaceActivity"></activity>
        <activity android:name=".ui.mypage.coupon.HistoryActivity"/>
        <activity android:name=".ui.detail.detailReviewAll.ReviewAllActivity"/>
        <activity android:name=".ui.detail.nearbyList.NearbyListActivity"/>
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>